/* style sheet for DesignersOfTheWorld.com */

/* HERE IS WHERE YOU DO ALL YOUR DESIGN WORK, AND YOU CAN START BY MODIFYING THE LINES BELOW */
/*feel free to style any text level element (see on html5doctor.com) such as <i> <em> or <b> or use these approved classes for 
effect (pullQuote or highLight or borderEffect or ShadowDrop or activeSection or activePage) stick to these, because if you use 
a class name or id name that you made up, it will cause the site to malfunction on the other designer pages.  */

* {  margin: 0px; }

html, body {height: 100%;}

body {width: 1100px; 
	margin: auto; 
	background:rgb(255,255,255); 
	font-family: Helvetica, Arial, sans-serif; 
	text-align: justify;
	font-size: 14px;}

header {margin-bottom: 40px;}

#logo{background-image: url("lois/images/gLlogo.png"); /*200 px by 200 px*/
		background-repeat: no-repeat;
		background-color: ;
		margin: 0px;
		height: 200px;
		 }

#logo h1{margin-left: 200px; font-size: 55px; padding-top: 80px;}

h1, h2 {color:rgb(20,21,31);
	font-family: Helvetica, Arial, sans-serif; font-size: 16px;}

p{margin-bottom: 10px;}





nav {width: 400px;  margin-left: 135px; /*margin-top:5px;*/ font-family: Helvetica, Arial, sans-serif;}
nav ul {list-style-type:none; }
nav ul li {float: left; height:30px; /*padding: 1px;*/ margin:1px; background-color: #000; border-radius: 2px 2px 2px; /*height:20px;*/}
nav ul li a:link{text-decoration: none; color:#fff; height: 20px;
	border-radius: 2px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: Helvetica, Arial, sans-serif;;
	font-size:14px;
	margin: 5px;
	/*padding:3px ;*/
	text-decoration:none;}
nav ul li:hover{background-color: #aaa;  height:30px; color: #000; }

form {width: 200px; color:#fff;
	font-family: Helvetica, Arial, sans-serif; 
	font-size: 13px; float: right; 
	background-color: #000; 
	border-radius: 2px; margin-right:2px;}


#navSecondary {width: 250px; height: 100%; margin-top:40px; padding:5px; float: left; font-family: Helvetica, Arial, sans-serif;}
#navSecondary ul {list-style-type: none;}
#navSecondary ul li{ width: 160px; border-radius: 2px 2px 2px;}
#navSecondary ul li a:link{text-decoration: none; width:160px; 
	background-color:#000;	
	border-radius: 2px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: Helvetica, Arial, sans-serif;;
	font-size:14px;
	padding:3px ;
	text-decoration:none;
	}
#navSecondary ul li a:hover{background-color: #aaa; }
#navSecondary a{color: #fff;}

#designerName {margin-bottom: 40px; }
#designerName h1 {font-size:35px; color: rgb(255,255,255); background: rgb(20,21,31);}

#thirdNav {margin-bottom: 40px; font-family: Helvetica, Arial, sans-serif;}
#thirdNav ul {list-style-type: none;}
#thirdNav ul li {float: left; padding:0px; height:20px; background-color: #000; margin:1px; border-radius: 2px 2px 2px;}
#thirdNav ul li a:link{text-decoration: none; width:110px;
	background-color:#000;	
	border-radius: 2px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: Helvetica, Arial, sans-serif;;
	font-size:14px;
	text-align: center;
	padding:0px;
	text-decoration:none;
	}

/*#thirdNav li:hover{background-color: #aaa;}*/
#thirdNav ul li a:hover{ background-color:#aaa; color: #fff; height: 20px;}
#thirdNav a{color: #fff;}


main {padding: 0px; width: 710px; float: left;}


/*figure {display:inherit; width: 250px; height: 190px; border:solid green 2px; background-image: url("lois/images/logo.png");}
figcaption {text-align:center; margin-top:100px; z-index:5; background: rgba(25,35,15,0.5);}
*/

figure {display:inherit; background: none;}

figure.firstPortrait {width: auto; float: right; margin:10px; margin-bottom: 0px;}

figure.secondPortrait {width: 200px;float: right; margin:10px; margin-bottom: 0px; }

figure.bigleft {float: left; width: 500px;}

figure.bigright {float: left; width: 500px;}

figure.rightsquare {float: right; width:150px; margin-bottom: 8px;}

figure.leftcircle {float: right; width:200px; margin-bottom:8px; border:none;}

figcaption {text-align: center; font-size: .8em; clear:both; margin-top:0px; padding-top: 0px; float:none; position:relative; z-index: 1; background-color: rgba(25,35,15,0.5);}

footer { clear:both; display: block; padding:5px; color: white; background:rgb(20,21,31); text-align: center;}